# 同步时忽略以下路径
/blockly/apps/mixly/digitalPinToInterrupt.js
/blockly/apps/mixly/myblock.js
_pycache__

*.zip
!python37.zip
*.7z
*.tmp
*.sig
*.tmp.gz
clear.bat
*.pdf
mpBuild/mixly.py
mixpyBuild/mixly.py
logs
cache
company/*.js
company/*.xml
myblock.js
/PortableGit
